@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Banco de Preguntas</h1>
    <p class="lead">Banco de Preguntas es una aplicacion que permite gestionar preguntas para exámenes de diferente indole.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Leer Más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Crear</h2>
        <p>
            Formulario que tiene las propiedades de la pregunta, y entre las cuales resalta el texto de la 
            pregunta que utiliza un componente de Texto Enriquecido (usar uno existente) y la lista de 
            respuestas posibles de esta pregunta.
        </p>
        <p><a class="btn btn-default" href="/CrearPregunta">Leer Más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Editar</h2>
        <p>Similar al formulario de “Crear pregunta” con la diferencia que las propiedades básicas 
        (opciones de pregunta) no son editables.Al pinchar en el botón “Editar", se carga un formulario 
        con los datos de la pregunta seleccionada con la posibilidad de añadir nuevas respuestas o eliminar una existente.</p>
        <p><a class="btn btn-default" href="/EditarPregunta">Leer Más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ver</h2>
        <p>Muestra el Listado de Preguntas.Las opciones de “Crear”, “Eliminar”, “Editar” y “Ver” quedan excluidas 
        de este formulario.</p>
        <p><a class="btn btn-default" href="/VerLista">Leer Más &raquo;</a></p>
    </div>
</div>